* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    .links{
        li {
            padding: 0px 10px;
            a {
                font-size: 16px;
                color: white;
                border-bottom: 2px solid transparent;
                &:hover {
                    transition: all .2s;
                    border-bottom: 2px solid #3498DB;
                }
            }
        }
    }
}

h1 {
    font-weight: bold !important;
}

.app {
    width: 100%;
    .bienvenida {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .agregar{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            padding: 10px;
            label {
                padding: 10px;
            }
        }
    }
    .botones {
        width: 100%;
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
            padding: 20px;
        }
    }
    .resultados{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .tarjeta{
            width: 400px;
            padding: 30px;
            margin: 20px auto;
            border-radius: 10px;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.678);
            h3{
                font-size: 25px;
                font-weight: bold;
                color: white;
            }
            p {
                color: white;
                font-size: 16px;
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            
        }

    }
    .divCarga{
        width: 100%;
        text-align: center;
    }
}


//--------FOTOS HTML --------


.result{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.tarjeta{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;
    div {
        width: 100%;
        img {
            width: 100%;
        }
    }
}




.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: transparent rgb(255, 255, 255) #ffffff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

